@forward "./base/reset";
@forward "./animation/v-transition";
@forward "./animation/index";
@use "./base/font-face";
@use "./abstract/mixins" as f;
@use "./abstract/variables" as v;

body {
  min-width: 320px;
  overflow: auto;
  font-family: Roboto, Arial, "Microsoft JhengHei Modify", "Microsoft JhengHei",
    PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input,
label,
select,
button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.show-desktop-xl {
  display: block !important;

  @include f.screen(xl) {
    display: none !important;
  }
}

.show-desktop-lg {
  display: block !important;

  @include f.screen(lg) {
    display: none !important;
  }
}

.show-desktop-md {
  display: block !important;

  @include f.screen(md) {
    display: none !important;
  }
}

.show-desktop-sm {
  display: block !important;

  @include f.screen(sm) {
    display: none !important;
  }
}

.show-at-md {
  display: none !important;

  @include f.screen(md) {
    display: block !important;
  }
}

.container {
  position: relative;
  width: 80%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 150px 30px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.button {
  display: block;
  position: absolute;
  right: 100px;
  top: 100px;
  font-size: 20px;
  padding: 10px 10px;
  background-color: #1d594e;
  color: #f2cb05;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  transition: transform 200ms ease box-shadow 200ms ease;

  &:hover {
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-2px, -2px);
  }
}
