@forward './base/reset';
@forward './animation/v-transition';
@forward './animation/index';
@use './base/font-face';
@use './abstract/mixins' as f;
@use './abstract/variables' as v;

body {
  min-width: 320px;
  overflow: auto;
  font-family: Roboto, Arial, 'Microsoft JhengHei Modify', 'Microsoft JhengHei', PingFangTC, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

input,
label,
select,
button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.show-desktop-xl {
  display: block !important;

  @include f.screen(xl) {
    display: none !important;
  }
}

.show-desktop-lg {
  display: block !important;

  @include f.screen(lg) {
    display: none !important;
  }
}

.show-desktop-md {
  display: block !important;

  @include f.screen(md) {
    display: none !important;
  }
}

.show-desktop-sm {
  display: block !important;

  @include f.screen(sm) {
    display: none !important;
  }
}

.show-at-md {
  display: none !important;

  @include f.screen(md) {
    display: block !important;
  }
}
